body, html {
  overflow: hidden;
}

* {
  margin:0;
  padding:0;
}

.parallax {
	height: 500px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.parallax__group {
	position: relative;
	height: 500px;
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 1;
}

.parallax__layer--back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 0;
}

.parallax__group {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.parallax {
	font-size: 200%;
}

.title {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#group1 {
	z-index: 1;
}

#group1 .parallax__layer--base {
	background-image: url(Mountains-house-trees-winter-snow_1920x1080.jpg);

}

#group2 {
	z-index: 0;
}

#group2 .parallax__layer--back {
	background-image: url(44404-dikaya_mestnost-les-atmosfera-tuman-utro-2048x1360.jpg);
}

#group2 .parallax__layer--base {
	opacity: 25%;
}

#group3 {
	z-index: 1;
}

#group3 .parallax__layer--base {
	background-image: url(gory-sneg-dom.jpg);
}